<input

  #searchInput
  type="text"
  placeholder="Tapez quelque chose..."
  (input)="onSearch(searchInput.value)"
/>

<p>Nombre de personnages trouvés : {{ filteredCharacters.length }}</p>
<app-charaters-list [charactersFromApi]="filteredCharacters"></app-charaters-list>
<app-continents-list [continentsFromApi]="continents"></app-continents-list>
<!--<app-charaters-list [charactersFromApi]="characters"></app-charaters-list> -->

<!--<div [ngClass]="{selected : isSelected, warning : isWarning}">
cdf: {{isSelected}}
</div> -->

<!-- <div [ngClass]="['card',isActive ? 'active' : '']">

 <p>cds</p>
</div>-->

<!--<div [ngStyle]="{color: colorCrimson}">

  <p>cds</p>
</div>-->










<!-- 1. Bouton qui toggle l'état -->
<button (click)="toggle()">Toggle affichage</button>

<!-- 2. Conteneur avec texte -->
<div>
  <!-- Cas A — Plusieurs styles à la fois -->
  <h1 [ngStyle]="{ padding: '10px', borderRadius: '8px', backgroundColor: isActive ? '#eef6ff' : '#f9f9f9' }">
    Plusieurs styles via ngStyle
  </h1>

  <!-- Cas B — Condition ternaire sur un style -->
  <h1 [style.color]="isActive ? 'blue' : 'red'">
    Couleur via condition ternaire
  </h1>

  <!-- Cas C — Un seul style (ex: taille) -->
  <h1 [style.fontSize.px]="isActive ? 28 : 18">
    Taille via un seul style
  </h1>

  <!-- Cas D — Une seule classe -->
  <h1 [ngClass]="isActive ? 'active-class' : 'inactive-class'">
    Classe unique via ngClass
  </h1>
</div>


<router-outlet />
