@if (charactersFromApi && charactersFromApi.length > 0) {
<div class="character-wrapper">
  @for (character of charactersFromApi; track character.id){
    <div class="character-card">
      <img [src]="character.imageUrl" alt="{{ character.fullName }}" />
      <h1>{{character.firstName}}</h1>
      <p>{{character.title}}</p>
      <strong>{{character.family}}</strong>
    </div>
  }
  <div class="character-card" *ngFor="let character of charactersFromApi">
    <h1>{{ character.fullName | emoji }}</h1>
    <p>{{ character.title }}</p>
    <strong>{{ character.family }}</strong>
  </div>
</div>
  } @else {
  <p>No characters found</p>
}

<router-outlet />
